<div class="example-container">
  <form role="form">
    <mat-form-field appearence="standard">
      <mat-label for="username">E-mail</mat-label>
      <input matInput type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <mat-form-field appearence="standard">
      <mat-label for="password">Mot de passe</mat-label>
      <input matInput type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <mat-form-field appearence="standard">
      <mat-label for="firstName">Prénom</mat-label>
      <input matInput [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <mat-form-field appearence="standard">
      <mat-label for="lastName">Nom</mat-label>
      <input matInput [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <mat-form-field appearence="standard">
        <mat-label for="phone">Numéro de téléphone</mat-label>
        <input matInput [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
  </form>
  <p class="icon-button">
    <button mat-raised-button class="save-button" color="warn" (click)="register()">
      S'inscrire
    </button>
  </p>
</div>