<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container">
  <form [formGroup]="form">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Numéro de devis</mat-label>
        <input matInput formControlName="id" value="{{quotation.id}}">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-select placeholder="Choisir un client/prospect" formControlName="contact" >
          <mat-option *ngFor="let contact of contacts" [value]="contact">
            {{ contact.firstName }} {{ contact.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Prix HT</mat-label>
        <input matInput type="number" formControlName="priceHT" value="{{quotation.priceHT}}" placeholder="Entrez un prix HT">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Taxe</mat-label>
        <input matInput type="number" formControlName="tax" min="0" max="100" value="{{quotation.tax}}" (keyup)=calculatePrice(form.getRawValue())
          placeholder="Entrez une taxe (TVA, ...)">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Prix TTC</mat-label>
        <input matInput type="number" formControlName="priceTTC" value="{{quotation.priceTTC}}">
      </mat-form-field>
    </p>

    <mat-table #table [dataSource]="productDatasource">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="cell-wrapper">
            <input matInput type="text" [(ngModel)]="product.id" [ngModelOptions]="{standalone: true}">
          </div>
        </mat-cell>
      </ng-container>

      <!-- Reference Column -->
      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="cell-wrapper">
            <input matInput type="text" [(ngModel)]="product.reference" [ngModelOptions]="{standalone: true}" placeholder="Référence">
          </div>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Dénomination commerciale </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="cell-wrapper">
            <input matInput type="text" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" placeholder="Dénomination commerciale">
          </div>
        </mat-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="cell-wrapper">
            <input matInput type="text" type="number" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" (keyup)=calculatePrice(form.getRawValue())
              placeholder="Quantité">
          </div>
        </mat-cell>
      </ng-container>

      <!-- PriceHT Column -->
      <ng-container matColumnDef="priceHT">
        <mat-header-cell *matHeaderCellDef> Montant HT/Unité </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="cell-wrapper">
            <input matInput type="text" type="number" [(ngModel)]="product.priceHT" [ngModelOptions]="{standalone: true}" (keyup)=calculatePrice(form.getRawValue())
              placeholder="Montant HT">
          </div>
        </mat-cell>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Supprimer </mat-header-cell>
        <mat-cell *matCellDef="let product; let i = index">
          <button class="table-button" mat-mini-fab color="warn" (click)="deleteProduct(i); calculatePrice(form.getRawValue())">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let product; columns: displayedColumns;"></mat-row>

    </mat-table>
    <p class="icon-button">
      <button mat-mini-fab color="warn" (click)="addProduct()">
        <mat-icon>add</mat-icon>
      </button>
    </p>
    <p class="save-button icon-button">
      <button mat-fab color="warn" (click)="save(form.getRawValue(), form.valid)">
        <mat-icon>check</mat-icon>
      </button>
    </p>
  </form>
</div>