<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<nav class="navbar  navbar-inverse  navbar-fixed-top navbar-default">
  <div class="container">
    <a class="navbar-brand" routerLink="quotation/quotation-list" routerLinkActive="active"> SRM</a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-target">
      <ul class="nav navbar-nav navbar-left" *ngIf="authenticated()">
        <li class="">
          <a routerLink="quotation/quotation-list" routerLinkActive="active">Devis</a>
        </li>
        <li class="">
          <a routerLink="contact/contact-list" routerLinkActive="active">Clients/Prospects</a>
        </li>
        <li class="">
          <a routerLink="planning" routerLinkActive="active">Planning</a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active">Se deconnecter</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left" *ngIf="!authenticated()">
        <li>
          <a routerLink="login" routerLinkActive="active">Se connecter</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="active">S'inscrire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>