<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container mat-elevation-z8">
  <mat-form-field class="example-header">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table #table [dataSource]="contactDatasource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id du contact </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.id}} </mat-cell>>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.firstName}} </mat-cell>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.lastName}} </mat-cell>
    </ng-container>

    <!-- Company name Column -->
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Nom de l'entreprise </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.company.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.type}} </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Modifier </mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <button [routerLink]="['/contact/edit/', contact.id]" routerLinkActive="active" class="table-button" mat-mini-fab color="warn">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Supprimer </mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <button class="table-button" (click)="deleteContact(contact.id)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [pageSize]="25" showFirstLastButtons></mat-paginator>
</div>
<p class="icon-button">
  <button mat-raised-button class="add-contact-button" color="warn" [routerLink]="['/contact/edit']" routerLinkActive="active">
    Ajouter un Client ou un Prospect
  </button>
</p>