.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-top: 100px;
}

.cal-month-view .cal-day-cell .cal-selected-day {
    background-color: #8b0000 !important;
  }

  .save-button {
    width: 100%;
  }