<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container">
  <form [formGroup]="form">
    <p>
      <mat-form-field>
        <mat-select placeholder="Choisir le type" formControlName="type">
          <mat-option value="CLIENT">CLIENT</mat-option>
          <mat-option value="PROSPECT">PROSPECT</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" value="{{contact.firstName}}" placeholder="Entrez un prénom">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" value="{{contact.lastName}}" placeholder="Entrez un nom">
      </mat-form-field>
    </p>
    <fieldset formGroupName="company">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Nom de l'entreprise</mat-label>
          <input matInput formControlName="name" value="{{contact.company.name}}" placeholder="Entrez un nom d'entreprise">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Naf</mat-label>
          <input matInput formControlName="naf" value="{{contact.company.naf}}" placeholder="Entrez un code naf">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Siret</mat-label>
          <input matInput formControlName="siret" value="{{contact.company.siret}}" placeholder="Entrez un numéro siret">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Siren</mat-label>
          <input matInput formControlName="siren" value="{{contact.company.siren}}" placeholder="Entrez un numéro siren">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Numéro de voie</mat-label>
          <input matInput formControlName="streetNumber" value="{{contact.company.streetNumber}}" placeholder="Entrez un numéro de voie">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Voie</mat-label>
          <input matInput formControlName="street" value="{{contact.company.street}}" placeholder="Entrez un nom de voie">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Code postale</mat-label>
          <input matInput formControlName="zipCode" value="{{contact.company.zipCode}}" placeholder="Entrez un code postale">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Ville</mat-label>
          <input matInput formControlName="city" value="{{contact.company.city}}" placeholder="Entrez une ville">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Pays</mat-label>
          <input matInput formControlName="country" value="{{contact.company.country}}" placeholder="Choisissez un pays">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Tél</mat-label>
          <input matInput formControlName="phone" value="{{contact.company.phone}}" placeholder="Entrez un numéro de téléphone">
        </mat-form-field>
      </p>
    </fieldset>
    <p class="save-button icon-button">
      <button mat-fab color="warn" (click)="save(form.getRawValue(), form.valid)">
        <mat-icon>check</mat-icon>
      </button>
    </p>
  </form>
</div>