<div class="example-container">
  <form role="form">
    <mat-form-field appearence="standard">
      <mat-label for="username">E-mail:</mat-label>
      <input matInput type="text" id="email" name="email" [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field appearence="standard">
      <mat-label for="password">Mot de passe:</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="user.password" />
    </mat-form-field>
  </form>
  <p class="icon-button">
    <button mat-raised-button class="save-button" color="warn" (click)="login()">
      Se connecter
    </button>
  </p>
</div>