<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container mat-elevation-z8">
  <mat-form-field class="example-header">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table #table [dataSource]="quotationDatasource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Numéro du devis </mat-header-cell>
      <mat-cell *matCellDef="let quotation"> {{quotation.id}} </mat-cell>>
    </ng-container>

    <!-- Price HT Column -->
    <ng-container matColumnDef="priceHT">
      <mat-header-cell *matHeaderCellDef> Montant HT </mat-header-cell>
      <mat-cell *matCellDef="let quotation"> {{quotation.priceHT}} </mat-cell>
    </ng-container>

    <!-- Price TTC Column -->
    <ng-container matColumnDef="priceTTC">
      <mat-header-cell *matHeaderCellDef> Montant TTC </mat-header-cell>
      <mat-cell *matCellDef="let quotation"> {{quotation.priceTTC}} </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Modifier </mat-header-cell>
      <mat-cell *matCellDef="let quotation">
        <button [routerLink]="['/quotation/edit/', quotation.id]" routerLinkActive="active" class="table-button" mat-mini-fab color="warn">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Supprimer </mat-header-cell>
      <mat-cell *matCellDef="let quotation">
        <button class="table-button" (click)="deleteQuotation(quotation.id)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let quotation; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [pageSize]="25" showFirstLastButtons></mat-paginator>
</div>
<p class="icon-button">
  <button mat-raised-button class="add-quotation-button" color="warn" [routerLink]="['/quotation/edit']" routerLinkActive="active">
    Ajouter un devis
  </button>
</p>